.hero-unit.specialunit
  .h2
    %i
      %b
        We Highly Value Our Community Partners
  %p
    In each county we intend to partner with worthy, not-for-profit health related organizations where our mission and vision blends to work together for our mutual benefit.  We will work with them to establish the directory in their community and they will be able to generate a new stream or revenue to fund their charitable work. Please stay in touch to learn more.