.row-fluid
  .smallerwidth
    / Jumbotron
    .jumbotron
      %h2 Welcome to MyMedWall CHAD Services
      %p.lead MyMedWall is the missing link in healthcare. We are working hard to connect our patient members with medical providers. Click below to get started looking through our Community Health Allied Directory!
      %a.btn.btn-large.btn-primary{href: "providers/"} Find Providers <i class="icon-arrow-right"></i>

    / Example row of columns
    .row-fluid
      .span4.spanbackground
        %h3 Patients
        %p MyMedWall offers you, the patient, access to a wide array of medical providers. By searching through our flexible and comprehensive database of providers, we connect you to the top tier doctors and healtchare organizations for your specific needs. Through MyMedWall messaging and through your telephone connection, you can directly contact the providers that interest you.
        %p
          %a.btn{href: "providers/"} See the directory »
      .span4.spanbackground
        %h3 Providers
        %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
        %p
          %a.btn{href: "providers/new"} Sign up today »

      .span4.spanbackground
        %h3 Partners
        %p We highly value our Community Partners. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.Donec sed odio dui.Donec sed odio dui.
        %p
          %a.btn{href: "partners/"} Learn more »