.hero-unit.specialunit
  %h2 Patients
  %br/
  Already a member?
  %a{ href: "#{url_for new_user_session_path}" }
    Sign in
  %br/
  %a{ href: "#{url_for new_user_session_path}" }
    Join MyMedWall CHAD Services
  and get connected to medical providers today