// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main {
  max-width: 1440px;
  margin: 0 auto;
}

img {vertical-align:middle;}

.floatleft {
  float: left;
}

.coloredbody {
  background-color: rgb(245, 242, 239);
  zoom: 1;
  /*background-repeat: repeat no-repeat;*/
  background: url(http://i.imgur.com/diGhGKM.png);
}

.navbar {
  line-height: 50px;
}

.navbar li {
  line-height: 50px;
}

.navbar .nav .dropdown-toggle .caret {
  margin-top: 22px;
}

.logo-left {
  background:url("https://secure.mymedwall.com/phr/Images/MyMed/MainLogo.png") no-repeat center center;
  height: 130px;
  width: 100%;
}

.logo-right {
  background:url("http://i.imgur.com/R1r1xQn.png") no-repeat center center;
  height: 130px;
  width: 100%;
}

.smallerwidth {
  width: 80%;
  margin: 0 auto;
}

.navbar .divider-vertical {
  height: 70px;
  margin: 0px;
}

/* Main marketing message and sign up button */
.jumbotron {
  margin: 80px 0;
  text-align: center;
}
.jumbotron h1 {
  font-size: 100px;
  line-height: 1;
}
.jumbotron .lead {
  font-size: 24px;
  line-height: 1.25;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.navbar .btn, .navbar .btn-group {
  margin-top: 22px;
}