// Place all the styles related to the Providers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.centered {
  width: 233px;
  margin: 0 auto;
}

.leftmargin {
  margin-left: 5px;
}

.jumbotron {
  margin: 50px 0;
}

.specialunit {
  background-color: rgba(0, 100, 255, 0.3);
}

#q {
  margin: 0px;
}

.spanbackground {
  background-color: rgba(0, 100, 255, 0.3);
  border-radius: 10px;
  color: #111 !important;
  padding: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.centeredtext {
  text-align: center;
}

.providerimage {
  height: 300px;
  width: 300px;
}

.providerprofile {
  padding: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.phonenumberholder {
  background-color: #1B7AE0;
  color: white;
  border-radius: 6px;
  width: 300px;
}

.msgholder {
  background-color: green;
  color: white;
  border-radius: 6px;
  width: 300px;
}

.navbar-inner {
  background-color: #1159AB;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
}

.navbar .nav > li > a {
    text-decoration: none;
    text-shadow: none;
    color: white;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #FF7D06;
    color: white;
}

.customhovercolor:hover {
    text-decoration: none;
    text-shadow: none;
    background-color: #FF7D06 !important;
    color: white;
}

.navbar .nav > li > a:focus, .navbar .nav > li > a:hover {
  color: white;
}

.navbar .brand {
    text-decoration: none;
    text-shadow: none;
    color: white;
    font-size: 21px;
}